PeppolPreClient/Service References/net.xledger.peppolclient/AccessPointClientService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SendMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sSender" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sReceiver" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sDocumentID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sProfileID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sXmlBody" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendMessageResult" type="xs:long" />
        <xs:element minOccurs="0" name="sErrorInfo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SmlLookup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sRecipientValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sDocumentID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SmlLookupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SmlLookupResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="sErrorInfo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sEndpoint" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VefaValidation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sFile" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VefaValidationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VefaValidationResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="sErrorInfo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ping">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PingResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PingAccessPointService">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PingAccessPointServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PingAccessPointServiceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>